/* Pages that use this: ALL  */

body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* HEADER HERE */
.header {
  background-color: #C0A080;
}

/*Page: Header*/
.headerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}

/* NAV HERE */

/*Page: Nav*/
.navUL {
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;
  text-align: center;
}

/*Page: Nav*/
.navLinks {
  padding: 9px 10px 10px 10px;
  font-size: 30px;
  margin: 10px 10px 10px 10px;
  background-color: black;
  border-style: none;
  color: white;
  transition: 0.5s;
}

/*Page: Nav*/
.navLinks:hover {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
  background-color: white;
  color: black;
}

/* PAGE CONTENT HERE */
.pageContent {
  background-color: #C0A080;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

/* FOOTER CONTENT HERE */

/* Page: Footer */
.listContainer {
  display: flex;
  flex-direction: column;
}

.listContainer * {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

a img:last-child {
  display: none;
}
a:hover img:last-child {
  display: block;  
}
a:hover img:first-child {
  display: none;  
}

img.emailPic, img.emailPic2, img.githubPic, img.githubPic2, img.instaPic, img.instaPic2 {
  width: 50px;
  height: 50px;
}

.emailPic, .emailPic2, .githubPic, .githubPic2, .instaPic, .instaPic2 {
  border-radius: 50%;
}
