/* Pages that use this: Artist, ArtistPage */

/* Page: ArtistPage */
.artistContainer {
  background-color: #C0A080;
  padding: 0px 50px 50px 50px;
}

.artist {
  background-color: #7882A4;
}

/* Page: Artist */
.artistSection {
    border-style: solid;
    border-color:black;
  }

.artistPic {
  margin-top:10px;
  width: 300px;
  border-radius: 50%;
}