/* Pages that use this: Footer, HomePage */

/*Page: HomePage*/
.homeContainer {
    background-color: #C0A080;
}

.welcomeMessage {
    background-color: white;
}

.portraitImg {
    border-radius: 30%;
    width: 300px;
}

.introText {
    background-color: white;
}
