.artistSection {
    border-style: solid;
    border-color:black;
    border-width: 10px;
  }

.artistPic {
  margin-top:10px;
  width: 300px;
  border-radius: 50%;
}

.artistContainer {
  background-color: #C0A080;
  padding: 0px 50px 50px 50px;
}

.artist {
    /* background-color: rgb(172, 230, 240); */
    background-color: #7882A4;
    transition: 0.5s;
}